<!DOCTYPE html>
<html>
<head>
  <title>Flatbuddy</title>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="http://fonts.googleapis.com/css?family=Corben:bold" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Nobile" rel="stylesheet" type="text/css">
</head>
<body>

<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand flatbuddy" href="/" ><i class="icon-home icon-white"></i> Flatbuddy</a>
        <div class="nav-collapse">
          <ul class="nav">
            <li><%= link_to "Browse Tasks", tasks_path if current_user && current_user.flatmate.present? %></li>
            <li><%= link_to 'New Task', new_task_path if current_user && current_user.flatmate.present? %></li>
            <li><%= link_to 'New Flat', new_flats_path if current_user && current_user.flatmate.nil? %></li>

          </ul>
          
          <div class="btn pull-right">
              <% if current_user %>
                Logged in as <%= link_to current_user.name || current_user.email, edit_profiles_path %>.
                <%= link_to "Log Out", logout_path %>
              <% else %>
                <i class="icon-user" style="color: #E01B56;"></i>
                <%= link_to "Log In", login_path %>
              <% end %>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="wrapper">

   <div class="container">
  
  <% flash.each do |name, msg| %>
    <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
      <a class="close" data-dismiss="alert">×</a>
      <%= msg %>
    </div>
  <% end %>
  
        <%= yield %>
  
   </div>
  </div>
</body>

<footer class="navbar navbar-fixed-bottom">
      <div class="container">
        <div class="row">
        <div class="span9" style ="text-align: left; font-family: 'corben';"> Flatbuddy </div>
        <div class="span3" style ="text-align: right;"> <i class="icon-heart icon-white"></i> Stay friends!</div>
       </div>
</footer>
</html>
